In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("input"))

# Any results you write to the current directory are saved as output.

['.DS_Store', 'test.csv', 'train.csv']

In [84]:
import pandas as pd
import string, re
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.metrics import confusion_matrix
from nltk.corpus import stopwords
from nltk.tokenize import wordpunct_tokenize
from nltk.stem import WordNetLemmatizer

In [157]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [126]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [12]:
train_raw_df = pd.read_csv("input/train.csv")
test_df = pd.read_csv("input/test.csv")
train_n = len(train_df)
test_n = len(test_df)
print("Train shape : ",train_df.shape)
print("Test shape : ",test_df.shape)

Train shape :  (130612, 3)
Test shape :  (56370, 2)

In [135]:
train_df = train_raw_df.sample(frac=0.05)
print("Train shape : ",train_df.shape)
train_df.head(1)

Train shape :  (65306, 3)

                         qid                      question_text  target
737723  907a93d2f27d74b9a224  When did London lose its manners?       1

In [136]:
lemmatizer = WordNetLemmatizer()
stopset = set(stopwords.words('english'))

In [137]:
def process(txt):
    tokens = []
    for token in wordpunct_tokenize(txt):
        if token.isdigit():
            continue
        if all(char in string.punctuation for char in token):
            continue
        
        token = token.lower()
        token = token.strip()  # Strip whitespace and other punctuations
        token = token.strip('_')  # remove _ if any
        token = token.strip('*')
        if token in stopset:
            continue
        tokens.append(token)
        lemmatizer.lemmatize(token)
    return tokens

In [155]:
train_df['p_txt'] = train_df['question_text'].apply(process)
test_df['p_txt'] = test_df['question_text'].apply(process)

In [139]:
train_df.head(1)

                         qid                      question_text  target                    p_txt
737723  907a93d2f27d74b9a224  When did London lose its manners?       1  [london, lose, manners]

In [156]:
train_df['p_txtcn'] = train_df['p_txt'].apply(lambda tokens: ' '.join(str(v) for v in tokens))
test_df['p_txtcn'] = test_df['p_txt'].apply(lambda tokens: ' '.join(str(v) for v in tokens))

In [141]:
no_features = 1000
tfidf_vectorizer = TfidfVectorizer(max_features=no_features)

In [142]:
def vectorize(txt, vectorizer):
    X = vectorizer.fit_transform(txt)
    feature_names = vectorizer.get_feature_names()
    return X, feature_names

In [143]:
X_tf, tf_feature_names = vectorize(train_df['p_txtcn'], tfidf_vectorizer)

In [144]:
no_topics = 10
num_iter = 2

In [145]:
lda = LatentDirichletAllocation(n_components=no_topics, max_iter=num_iter, learning_method='online', learning_offset=50.,random_state=9, evaluate_every=100).fit(X_tf)

In [146]:
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        top_features = []
        for i in topic.argsort()[:-no_top_words - 1:-1]:
            if topic[i] >  1.0:
                top_features.append((feature_names[i], topic[i]))
            else:
                continue        
        print("Topic %d:" % (topic_idx))
        print(", ".join([str(val[0])+": "+"%.2f" % val[1] for val in top_features]))

In [147]:
display_topics(lda, tf_feature_names, 50)

Topic 0:
best: 927.17, make: 557.96, life: 536.23, way: 480.90, better: 378.16, country: 287.58, would: 287.41, year: 269.22, long: 249.43, old: 248.40, say: 245.31, day: 215.46, live: 212.35, new: 201.18, years: 198.91, girl: 195.31, known: 143.50, eat: 140.83, friend: 138.39, another: 129.41, win: 127.12, found: 125.32, market: 115.66, believe: 110.35, less: 110.25, weight: 106.89, fight: 99.21, girlfriend: 94.76, die: 93.87, culture: 93.14, project: 91.62, term: 90.76, oil: 88.63, people: 88.29, modi: 84.46, talk: 83.82, skin: 82.17, case: 80.55, prevent: 78.88, modern: 78.05, rate: 76.65, exist: 76.15, control: 76.01, run: 75.63, sleep: 75.05, good: 74.83, price: 74.57, eating: 73.95, vs: 73.26, explain: 72.98
Topic 1:
become: 446.13, work: 432.94, take: 272.38, engineering: 246.62, anyone: 245.40, college: 241.32, without: 226.44, go: 224.12, learn: 203.51, getting: 193.47, get: 187.60, university: 185.89, look: 183.53, company: 179.51, like: 175.06, career: 170.12, students: 165.72, science: 162.34, questions: 158.79, never: 152.81, course: 145.39, kind: 141.23, friends: 139.77, facebook: 135.60, degree: 133.98, canada: 133.94, called: 133.53, affect: 133.50, relationship: 125.78, self: 121.45, woman: 119.89, jobs: 118.83, writing: 118.51, space: 118.42, great: 117.31, technology: 116.84, data: 115.28, international: 111.01, popular: 100.74, hair: 100.24, salary: 99.11, job: 98.44, uk: 97.41, male: 88.93, theory: 87.33, said: 86.96, quora: 84.99, physics: 84.80, away: 84.00, everything: 83.13
Topic 2:
many: 467.47, one: 348.18, start: 319.84, different: 318.00, love: 258.71, stop: 230.23, person: 217.60, much: 210.00, even: 206.62, meaning: 142.18, today: 138.67, worth: 137.16, well: 131.12, read: 130.75, guy: 129.94, delhi: 123.53, music: 122.78, medical: 121.23, question: 120.96, best: 111.71, youtube: 110.94, average: 108.46, anything: 107.26, mass: 106.92, answer: 103.33, education: 102.61, favorite: 101.25, required: 98.59, female: 98.10, energy: 97.76, companies: 97.42, india: 97.10, media: 96.99, iphone: 96.09, liberals: 92.48, software: 91.69, people: 90.27, political: 89.79, gay: 87.99, describe: 86.11, would: 86.10, star: 81.09, police: 80.39, per: 80.02, period: 79.24, news: 76.82, kids: 73.67, want: 73.03, reading: 72.84, network: 71.42
Topic 3:
time: 480.28, find: 409.80, world: 393.54, people: 326.66, book: 273.23, could: 266.64, number: 193.48, online: 189.39, going: 183.49, best: 174.56, tell: 170.46, write: 165.83, social: 163.99, sex: 163.57, website: 159.38, learning: 158.18, car: 146.21, cause: 138.39, test: 129.98, earth: 126.72, point: 121.98, tips: 120.95, last: 117.94, game: 114.48, usa: 113.69, safe: 110.48, engineer: 108.25, form: 103.54, short: 103.40, bank: 102.95, good: 101.50, military: 99.41, uses: 97.73, application: 96.28, times: 94.39, machine: 92.88, consider: 92.63, opinion: 92.28, face: 89.33, full: 85.42, pain: 84.90, speed: 84.66, red: 84.49, starting: 81.58, first: 81.13, second: 80.04, living: 77.31, sound: 75.54, many: 74.37, group: 73.16
Topic 4:
use: 518.31, india: 472.71, business: 254.58, help: 244.11, using: 234.27, buy: 229.88, want: 216.36, keep: 193.33, ways: 192.14, free: 189.50, government: 170.12, war: 168.66, big: 163.48, phone: 160.22, place: 159.39, man: 158.03, non: 151.80, examples: 150.68, power: 149.48, app: 145.95, create: 121.87, deal: 119.41, apply: 115.11, improve: 112.86, pay: 111.03, benefits: 110.59, would: 106.84, research: 105.56, good: 105.24, public: 104.33, one: 104.08, making: 103.56, australia: 103.04, level: 102.53, build: 102.20, south: 101.79, open: 97.96, post: 96.37, legal: 94.78, biggest: 94.71, android: 94.20, role: 89.77, society: 89.04, tax: 87.24, japanese: 87.21, development: 86.42, looking: 85.07, amazon: 84.30, death: 84.05, area: 83.63
Topic 5:
women: 276.07, quora: 263.76, money: 250.25, give: 221.19, thing: 213.54, important: 207.36, men: 201.24, first: 199.18, black: 196.67, major: 179.62, history: 164.34, every: 156.19, food: 151.60, always: 144.98, value: 133.47, choose: 126.51, word: 118.09, end: 117.87, join: 115.81, given: 112.81, increase: 110.54, light: 108.30, others: 107.52, air: 104.24, taking: 103.97, indians: 99.39, often: 99.14, date: 99.13, like: 98.53, single: 96.35, lose: 95.71, math: 94.71, internet: 94.05, boyfriend: 92.60, enough: 91.66, problems: 91.33, force: 90.50, best: 89.81, turn: 88.82, card: 87.64, industry: 86.73, amount: 85.99, guys: 79.20, programming: 79.12, sites: 77.90, idea: 77.85, add: 76.83, office: 76.75, blood: 76.56, people: 75.84
Topic 6:
indian: 310.62, change: 231.16, causes: 169.64, girls: 165.35, white: 162.79, computer: 154.70, age: 145.77, system: 143.58, days: 143.39, god: 139.47, process: 128.93, prepare: 123.07, muslims: 121.45, video: 120.59, law: 119.96, type: 116.93, service: 116.66, since: 113.26, support: 110.53, children: 105.85, design: 104.91, humans: 99.63, wear: 93.79, field: 91.39, mobile: 90.26, night: 86.46, similar: 85.02, code: 84.03, universe: 80.46, marriage: 80.26, russia: 78.54, brain: 77.02, islam: 75.24, factors: 74.12, allowed: 73.02, ideas: 72.08, foreign: 72.08, father: 71.63, ex: 71.50, line: 70.81, function: 69.86, differences: 69.09, large: 68.98, upsc: 68.26, determine: 68.12, liberal: 66.64, drive: 66.48, names: 66.28, half: 65.38, contact: 65.18
Topic 7:
get: 793.44, someone: 465.41, possible: 339.43, used: 336.64, need: 230.34, student: 189.94, books: 178.37, class: 178.08, american: 177.33, something: 177.09, state: 175.36, top: 160.84, parents: 154.22, language: 142.72, rank: 136.15, house: 131.18, human: 129.20, actually: 128.18, got: 127.96, hard: 125.63, considered: 125.27, movies: 121.40, call: 121.00, play: 116.92, order: 115.51, score: 115.25, purpose: 113.71, jee: 113.48, ask: 110.40, small: 109.18, tv: 105.56, put: 104.27, visit: 103.96, health: 103.91, iit: 103.54, based: 102.72, available: 102.50, marks: 101.25, general: 100.21, one: 99.75, admission: 99.55, program: 98.06, seen: 96.21, management: 96.06, watch: 96.03, left: 93.16, sell: 93.11, move: 92.60, paper: 90.97, series: 90.50
Topic 8:
think: 596.04, ever: 447.74, difference: 399.47, good: 389.57, mean: 368.01, know: 319.90, really: 264.89, school: 253.40, happen: 246.12, made: 241.15, bad: 221.19, name: 212.48, high: 206.42, back: 198.49, two: 198.36, see: 186.49, job: 182.31, experience: 181.54, account: 174.67, working: 156.56, happens: 151.08, future: 149.66, body: 139.76, movie: 138.26, get: 137.87, common: 133.48, family: 131.52, people: 128.57, main: 126.78, study: 123.61, would: 123.57, next: 114.10, marketing: 112.35, one: 112.11, mind: 100.89, download: 100.61, reason: 98.00, able: 96.23, training: 92.95, person: 88.16, germany: 87.98, muslim: 86.17, lost: 86.11, british: 85.28, lot: 85.24, difficult: 83.17, follow: 82.09, mechanical: 80.85, remove: 78.82, grow: 74.18
Topic 9:
like: 610.53, feel: 382.31, trump: 283.95, us: 248.12, still: 245.27, things: 240.32, water: 229.24, people: 200.33, china: 196.50, countries: 184.98, right: 182.47, come: 179.87, home: 178.89, chinese: 177.02, real: 176.49, true: 168.16, normal: 156.27, english: 154.16, america: 150.39, states: 142.11, hate: 141.55, cost: 140.74, child: 132.60, makes: 130.47, part: 129.93, around: 129.54, problem: 128.64, done: 127.72, google: 126.44, show: 125.89, current: 124.75, wrong: 118.98, americans: 116.46, pakistan: 113.73, would: 113.27, india: 112.43, president: 109.98, united: 107.09, natural: 102.90, city: 102.02, dog: 100.61, story: 99.15, stay: 98.57, north: 96.85, effective: 96.69, characteristics: 93.35, types: 92.53, song: 87.62, donald: 85.59, kill: 85.59

In [148]:
X_lda = lda.transform(X_tf)

In [149]:
# X_lda[:30]

In [151]:
X_lda_df = pd.DataFrame(X_lda)
X_lda_df["idxmax"] = X_lda_df.idxmax(axis=1)
X_lda_df.head(2)

          0         1         2         3         4         5         6         7         8         9  idxmax
0  0.050000  0.050000  0.050000  0.050000  0.050000  0.550000  0.050000  0.050000  0.050000  0.050000       5
1  0.029061  0.503562  0.029061  0.029061  0.029061  0.029061  0.133664  0.029061  0.029061  0.159347       1

In [152]:
y_true = train_df['target']
y_lda = X_lda_df["idxmax"]

In [153]:
print(confusion_matrix(y_true, y_lda)[:2])

[[9865 6852 5490 5461 6203 4329 4459 6899 5707 6023]
 [ 478  316  434  265  314  365  525  238  321  762]]

In [161]:
embed_size = 100
max_features = None
maxlen = 100

tokenizer = Tokenizer(num_words=max_features, filters='')
tokenizer.fit_on_texts(train_df['p_txt'])

X = tokenizer.texts_to_sequences(train_df['p_txt'])
X_test = tokenizer.texts_to_sequences(test_df['p_txt'])
X = pad_sequences(X, maxlen=maxlen)
X_test = pad_sequences(X_test, maxlen=maxlen)

In [162]:
X_test[:1]

array([[    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,   953,  1293, 11340, 23640,
         2029,   953,  1065,  2792,  3525,   709,  2029,  1293,   953,
          274]], dtype=int32)

In [164]:
word_index = tokenizer.word_index
max_features = len(word_index)+1